
.RecipesContainer{
    position: relative;
    width: 45%;
    height: auto;
    top:15%;
    left: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .SingleRecipeContainer{
        border: solid 5px hsl(36, 94%, 80%);
        border-radius: 30px;
        position: relative;
        padding: 10px;
        height: 150px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* cien */
        transition:  0.2s ease;
        cursor: pointer;

        .DishImage{
            background-position: center;
            background-size: cover;
            width: 40%;
            height: 100%;
            position: absolute;
            bottom: 0px;
            right: 0px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .DescriptionContainer{
            width: 60%;
        }
        #Name{
            width: 60%;
        }

    }
.SingleRecipeContainer:hover{
    transform: scale(1.02);

}

}
.BackgroundContainer{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* cien */
    transition: background-image 1s ease-in-out;


}